body {
    &,
    * {
        margin: 0;
        padding: 0;
    }
    #title {
        text-align: center;
        padding: 50px;
        padding-bottom: 10px;
        margin-bottom: 100px;
        color: yellow;
        background-color: black;
        strong {
            font-size: 100px;
            margin-bottom: 0;
        }
        #links {
            height: max-content;
            user-select: none;
            display: flexbox;
            text-align: end;
            a {
                border-radius: 10px;
                margin: 5px;
                padding: 5px;
                text-align: center;
                font-size: 30px;
                color: white;
                text-decoration: none;
                &:hover {
                    opacity: 80%;
                }
                &:active {
                    opacity: 90%;
                }
            }
        }
    }
    #content {
        font-size: 20px;
        padding-left: 10vw;
        padding-right: 10vw;
        overflow: scroll;
        p {
            margin: 30px;
        }
    }
}
